.container {
  background-color: lightskyblue;
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}
.card {
  background-color: blueviolet;
  width: 400px;
  height: 200px;
  border-width: 4px;
  box-shadow: 3px 5px 9px red;
}
.card2 {
  background-color: darkgoldenrod;
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  -moz-box-shadow: 10px 10px 16px #000000;
  -webkit-box-shadow: 10px 10px 16px #000000;
  box-shadow: 10px 10px 16px #000000;
}
